<!-- <p>stores-dashboard works!</p> -->
 <div class="tw flex flex-col p-3 overflow-auto">
  <div class="w-full overflow-x-auto">
    <table id="storesTable" class="display table table-striped table-bordered w-full text-sm">
      <thead>
        <tr>
          <!-- <th>ID</th> -->
          <th>Nombres</th>
          <th>Url</th>
          <th>Email</th>
          <th>Estado</th>
          <th>Fecha creación</th>
          <th class="text-center no-export">Acciones</th>
        </tr>
      </thead>
      <tbody></tbody>
    </table>
  </div>
</div>
  
<!-- Modal para Ver/Editar Tienda -->
<div id="storeModal" class="modal fade" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" [ngStyle]="{ 'background-color': pageContentColors.backgroundPage }">
      <div class="modal-header">
        <h5 class="modal-title">
          {{ modalMode === 'view' ? 'Ver Tienda' : modalMode === 'edit' ? 'Editar Tienda' : 'Crear Tienda' }}
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body"> <!-- ANTES TENIA *ngIf="selectedStore" PERO PASO A COLOCARLO DENTRO DE CADA FORM selectedUser y selectedStore -->
        <!-- NAVS - TABS - PILLS --->
        <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
          <li [ngbNavItem]="1">
            <button ngbNavLink>1. Datos del administrador</button>
            <ng-template ngbNavContent>
              <!-- Formulario 1 Administrador --->
              <form *ngIf="selectedUser" #userForm="ngForm" class="row g-3 needs-validation" novalidate (ngSubmit)="saveStoreChanges()">
                <div class="mb-3">
                  <label class="form-label">Nombres</label>
                  <p *ngIf="modalMode === 'view'">{{ selectedUser.firstName }}</p>
                  <input *ngIf="modalMode === 'edit' || modalMode === 'create'" type="text" class="form-control" [(ngModel)]="selectedUser.firstName" name="firstName" required>
                  <div class="valid-feedback">
                    Looks good!
                  </div>
                  <div class="invalid-feedback">
                    Please write your first name.
                  </div>
                </div>
                <div class="mb-3">
                  <label class="form-label">Apellidos</label>
                  <p *ngIf="modalMode === 'view'">{{ selectedUser.lastName }}</p>
                  <input *ngIf="modalMode === 'edit' || modalMode === 'create'" type="text" class="form-control" [(ngModel)]="selectedUser.lastName" name="lastName" required>
                  <div class="valid-feedback">
                    Looks good!
                  </div>
                  <div class="invalid-feedback">
                    Please write your last name.
                  </div>
                </div>
                <div class="mb-3">
                  <label class="form-label">Email</label>
                  <p *ngIf="modalMode === 'view'">{{ selectedUser.email }}</p>
                  <input *ngIf="modalMode === 'edit' || modalMode === 'create'" type="email" class="form-control" [(ngModel)]="selectedUser.email" name="email" required>
                  <div class="valid-feedback">
                    Looks good!
                  </div>
                  <div class="invalid-feedback">
                    Please write your email.
                  </div>
                </div>
                <div class="mb-3">
                  <label class="form-label">Address</label>
                  <p *ngIf="modalMode === 'view'">{{ selectedUser.address }}</p>
                  <input *ngIf="modalMode === 'edit' || modalMode === 'create'" type="text" class="form-control" [(ngModel)]="selectedUser.address" name="address" required>
                  <div class="valid-feedback">
                    Looks good!
                  </div>
                  <div class="invalid-feedback">
                    Please write your address.
                  </div>
                </div>
                <div class="mb-3">
                  <label class="form-label">Phone</label>
                  <p *ngIf="modalMode === 'view'">{{ selectedUser.phoneNumber }}</p>
                  <input *ngIf="modalMode === 'edit' || modalMode === 'create'" type="number" class="form-control" [(ngModel)]="selectedUser.phoneNumber" name="phoneNumber" required>
                  <div class="valid-feedback">
                    Looks good!
                  </div>
                  <div class="invalid-feedback">
                    Please write your phone.
                  </div>
                </div>
                <div *ngIf="modalMode !== 'view'" class="mb-3">
                  <label class="form-label">Password</label>
                  <input *ngIf="modalMode === 'edit' || modalMode === 'create'" type="password" class="form-control" [(ngModel)]="selectedUser.password" name="password" required>
                  <div class="valid-feedback">
                    Looks good!
                  </div>
                  <div class="invalid-feedback">
                    Please write your password.
                  </div>
                </div>
                <!-- ROLE SE OMITE PORQUE VA EN OTRO MÓDULO -->
                <div class="mb-3">
                  <label class="form-label">Estado</label>
                  <p *ngIf="modalMode === 'view'">{{ selectedUser.status }}</p>
                  <select *ngIf="modalMode === 'edit' || modalMode === 'create'" class="form-control" [(ngModel)]="selectedUser.status" name="status">
                    <option value="Activo">Activo</option>
                    <option value="Inactivo">Inactivo</option>
                  </select>
                  <div class="valid-feedback">
                    Looks good!
                  </div>
                  <div class="invalid-feedback">
                    Please select your status.
                  </div>
                </div>
                <div class="mb-3">
                  <label class="form-label">Fecha de Creación</label>
                  <p *ngIf="modalMode === 'view'">{{ selectedUser.createdAt }}</p>
                  <input *ngIf="modalMode === 'edit' || modalMode === 'create'" type="text" class="form-control" [(ngModel)]="selectedUser.createdAt" name="createdAt" readonly required>
                </div>
                <div class="valid-feedback">
                  Looks good!
                </div>
                <div class="invalid-feedback">
                  Please enter your registation date.
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                  <button *ngIf="modalMode === 'edit' || modalMode === 'create'" type="submit" class="btn btn-primary">Guardar Cambios</button>
                </div>
              </form>
            </ng-template>
          </li>
          <li [ngbNavItem]="2" [disabled]="!adminFormValid">
            <button ngbNavLink>2. Datos de la tienda</button>
            <ng-template ngbNavContent>
              <!-- Formulario 2 --->
              <form *ngIf="selectedStore" #storeForm="ngForm" class="row g-3 needs-validation" novalidate (ngSubmit)="saveStoreChanges()">
                <div class="mb-3">
                  <label class="form-label">Nombre TIENDA</label>
                  <p *ngIf="modalMode === 'view'">{{ selectedStore.name }}</p>
                  <input *ngIf="modalMode === 'edit' || modalMode === 'create'" type="text" class="form-control" [(ngModel)]="selectedStore.name" name="name" required>
                  <div class="valid-feedback">
                    Looks good!
                  </div>
                  <div class="invalid-feedback">
                    Please write your first name.
                  </div>
                </div>
                  <!-- OJO NOTA AVISO ETC: FALTA API CON NETLIFY PARA LA URL ASIGNADA A CADA TIENDA --->
                  <!-- OJO NOTA PREGUNTA ETC: EL CORREO LO TRAE EL ADMINISTRADOR QUE QUIERE CREAR SU TIENDA?? --->
                <div class="mb-3">
                  <label class="form-label">Contacto</label>
                  <p *ngIf="modalMode === 'view'">{{ selectedStore.contact }}</p>
                  <input *ngIf="modalMode === 'edit' || modalMode === 'create'" type="text" class="form-control" [(ngModel)]="selectedStore.contact" name="contact" required>
                  <div class="valid-feedback">
                    Looks good!
                  </div>
                  <div class="invalid-feedback">
                    Please write your last name.
                  </div>
                </div>
                <div class="mb-3">
                  <label class="form-label">NIT</label>
                  <p *ngIf="modalMode === 'view'">{{ selectedStore.nit }}</p>
                  <input *ngIf="modalMode === 'edit' || modalMode === 'create'" type="number" class="form-control" [(ngModel)]="selectedStore.nit" name="nit" required>
                  <div class="valid-feedback">
                    Looks good!
                  </div>
                  <div class="invalid-feedback">
                    Please write your email.
                  </div>
                </div>
                <div class="mb-3">
                  <label class="form-label">Logo FALTA PENDIENTE PILAS</label>
                  <!-- UTILIZAR IMG VISUALIZATOR -->
                  <p *ngIf="modalMode === 'view'">{{ selectedStore.logo }}</p>
                  <input *ngIf="modalMode === 'edit' || modalMode === 'create'" type="text" class="form-control" [(ngModel)]="selectedStore.logo" name="logo" required>
                  <div class="valid-feedback">
                    Looks good!
                  </div>
                  <div class="invalid-feedback">
                    Please write your address.
                  </div>
                </div>
                <div class="mb-3">
                  <label class="form-label">Description</label>
                  <p *ngIf="modalMode === 'view'">{{ selectedStore.description }}</p>
                  <input *ngIf="modalMode === 'edit' || modalMode === 'create'" type="text" class="form-control" [(ngModel)]="selectedStore.description" name="description" required>
                  <div class="valid-feedback">
                    Looks good!
                  </div>
                  <div class="invalid-feedback">
                    Please write your phone.
                  </div>
                </div>
                <div class="mb-3">
                  <label class="form-label">Address</label>
                  <p *ngIf="modalMode === 'view'">{{ selectedStore.address }}</p>
                  <input *ngIf="modalMode === 'edit' || modalMode === 'create'" type="text" class="form-control" [(ngModel)]="selectedStore.address" name="address" required>
                  <div class="valid-feedback">
                    Looks good!
                  </div>
                  <div class="invalid-feedback">
                    Please write your password.
                  </div>
                </div>
                <!-- ROLE SE OMITE PORQUE VA EN OTRO MÓDULO -->
                <div class="mb-3">
                  <label class="form-label">Estado</label>
                  <p *ngIf="modalMode === 'view'">{{ selectedStore.status }}</p>
                  <select *ngIf="modalMode === 'edit' || modalMode === 'create'" class="form-control" [(ngModel)]="selectedStore.status" name="status">
                    <option value="Activo">Activo</option>
                    <option value="Inactivo">Inactivo</option>
                  </select>
                  <div class="valid-feedback">
                    Looks good!
                  </div>
                  <div class="invalid-feedback">
                    Please select your status.
                  </div>
                </div>
                <div class="mb-3">
                  <label class="form-label">Fecha de Creación</label>
                  <p *ngIf="modalMode === 'view'">{{ selectedStore.createdAt }}</p>
                  <input *ngIf="modalMode === 'edit' || modalMode === 'create'" type="text" class="form-control" [(ngModel)]="selectedStore.createdAt" name="createdAt" readonly>
                </div>
                <div class="valid-feedback">
                  Looks good!
                </div>
                <div class="invalid-feedback">
                  Please enter your registation date.
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                  <button *ngIf="modalMode === 'edit' || modalMode === 'create'" type="submit" class="btn btn-primary">Guardar Cambios</button>
                </div>
              </form>
            </ng-template>
          </li>
        </ul>

        <div [ngbNavOutlet]="nav" class="mt-2"></div>

        <pre>Active: {{ active }}</pre>
      </div>
    </div>
  </div>
</div>
