<!-- <p>dynamic-page-tabs works!</p> -->
<div class="tw mb-4 flex flex-wrap gap-3 justify-center">
<button
    *ngFor="let tab of tabs"
    (click)="onTabClick(tab)"
    [ngStyle]="{
    backgroundColor: hoveredTabItem === tab || selectedTabItem === tab ? color.hoverBackground : color.background,
    color: hoveredTabItem === tab || selectedTabItem === tab ? color.hoverText : color.text
    }"
    class="px-4 py-2 rounded transition"
    (mouseenter)="hoveredTabItem = tab"
    (mouseleave)="hoveredTabItem = null"
>
    {{ tab | titlecase }}
</button>
</div>