<!-- <p>Pagina principal</p> -->
<!-- Hero Section -->
<!--
<section class="hero-section text-center d-flex align-items-center justify-content-center" [ngStyle]="{ backgroundColor: homePageColor.backgroundPrimary }">
  <div class="container">
    <h1 class="fw-bold" [ngStyle]="{ color: homePageColor.textTitle }">Bienvenido al Sistema de Órdenes y Entregas</h1>
    <p class="lead" [ngStyle]="{ color: homePageColor.textBody }">Gestione sus órdenes y entregas de manera eficiente y rápida.</p>
    <a href="#features" class="btn btn-light btn-lg mt-3">Más Información</a>
  </div>
</section>
-->
<!-- Features Section -->
 <!-- 
<section id="features" class="mt-5 features-section py-5">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-4">
        <div class="card shadow p-4 border-0" [ngStyle]="{ backgroundColor: homePageColor.backgroundSecondary }">
          <h3 class="fw-bold" [ngStyle]="{ color: homePageColor.textTitle }">Gestión de Órdenes</h3>
          <p [ngStyle]="{ color: homePageColor.textBody }">Administre y realice un seguimiento de todas sus órdenes desde un solo lugar.</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card shadow p-4 border-0" [ngStyle]="{ backgroundColor: homePageColor.backgroundSecondary }">
          <h3 class="fw-bold" [ngStyle]="{ color: homePageColor.textTitle }">Seguimiento de Entregas</h3>
          <p [ngStyle]="{ color: homePageColor.textBody }">Monitoree el estado de sus entregas en tiempo real.</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card shadow p-4 border-0" [ngStyle]="{ backgroundColor: homePageColor.backgroundSecondary }">
          <h3 class="fw-bold" [ngStyle]="{ color: homePageColor.textTitle }">Reportes y Análisis</h3>
          <p [ngStyle]="{ color: homePageColor.textBody }">Genere reportes detallados y análisis para mejorar su eficiencia.</p>
        </div>
      </div>
    </div>
  </div>
</section>
-->
<!-- 
<section class="mt-5 py-5" [ngStyle]="{ backgroundColor: homePageColor.backgroundTertiary }">
	<div class="container">
		<div class="row gx-4 align-items-center justify-content-between">
			<div class="col-md-5 order-2 order-md-1">
				<div class="mt-5 mt-md-0">
					<span class="text-muted">Our Story</span>
					<h2 class="display-5 fw-bold" [ngStyle]="{ color: homePageColor.textTitle }">About Us</h2>
					<p class="lead" [ngStyle]="{ color: homePageColor.textBody }">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>
					<p class="lead" [ngStyle]="{ color: homePageColor.textBody }">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p><a class="btn btn-primary mt-2" href="#">Learn more</a>
				</div>
			</div>
			<div class="col-md-5 order-1 order-md-2"><img class="img-fluid rounded-3" src="https://freefrontend.dev/assets/square.png"></div>
		</div>
	</div>
</section>
-->
<!-- Call to Action Section -->
<!--
<section class="mt-5 cta-section text-center d-flex align-items-center justify-content-center"  [ngStyle]="{ backgroundColor: homePageColor.backgroundQuaternary }">
  <div class="container">
    <h2 class="fw-bold" [ngStyle]="{ color: homePageColor.textTitle }">¿Listo para comenzar?</h2>
    <p class="lead" [ngStyle]="{ color: homePageColor.textBody }">Regístrese hoy y comience a gestionar sus órdenes y entregas de manera más eficiente.</p>
    <button class="btn btn-light btn-lg mt-3" (click)="createStore(storeModal)">Regístrese Ahora</button>
  </div>
</section>
-->

<!--
<ng-template #myModal let-modal>
  <ngb-nav [(activeId)]="activeTab" class="mb-3">
    <ngb-nav-item>
      <ngb-nav-link [id]="0">Paso 1</ngb-nav-link>
      <ng-template ngbNavContent>
        <form [formGroup]="userForm" (ngSubmit)="onSubmitForm1()">
          <div class="mb-3">
            <label>Nombre</label>
            <input type="text" class="form-control" formControlName="name" />
          </div>
          <div class="mb-3">
            <label>Email</label>
            <input type="email" class="form-control" formControlName="email" />
          </div>
          <button type="submit" class="btn btn-primary">Siguiente</button>
        </form>
      </ng-template>
    </ngb-nav-item>

    <ngb-nav-item [disabled]="!form1.valid">
      <ngb-nav-link [id]="1">Paso 2</ngb-nav-link>
      <ng-template ngbNavContent>
        <form [formGroup]="form2" (ngSubmit)="onSubmitFinal()">
          <div class="mb-3">
            <label>Dirección</label>
            <input type="text" class="form-control" formControlName="address" />
          </div>
          <div class="mb-3">
            <label>Teléfono</label>
            <input type="text" class="form-control" formControlName="phone" />
          </div>
          <button type="submit" class="btn btn-success">Enviar</button>
        </form>
      </ng-template>
    </ngb-nav-item>
  </ngb-nav>
</ng-template>

<button class="btn btn-outline-primary" (click)="openModal(myModal)">
  Abrir Modal
</button>
-->
<button class="btn btn-primary" (click)="open(content)">
  Open Wizard
</button>

<ng-template #content let-modal>
  <div class="modal-header">
    <h5 class="modal-title">User & Company Wizard</h5>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss()"
    ></button>
  </div>

  <div class="modal-body">
    <ul ngbNav #nav="ngbNav" [(activeId)]="activeTab" (navChange)="beforeChange($event)"  class="nav nav-tabs"
    >
      <!-- Tab 1 -->
      <li [ngbNavItem]="1">
        <button ngbNavLink class="nav-link">1. Datos del administrador</button>
        <ng-template ngbNavContent>
          <form #userFormEl class="row g-3 needs-validation" [formGroup]="userForm" novalidate>
            <div class="mb-3">
              <label class="form-label">Nombres</label>
              <input type="text" class="form-control" name="firstName" formControlName="firstName" required>
              <div class="valid-feedback">
                Looks good!
              </div>
              <div class="invalid-feedback d-block" *ngIf="submittedUser && userForm.get('firstName')?.invalid">
                Please write your first name.
              </div>
            </div>
            <div class="mb-3">
              <label class="form-label">Apellidos</label>
              <input type="text" class="form-control" name="lastName" formControlName="lastName" required>
              <div class="valid-feedback">
                Looks good!
              </div>
              <div class="invalid-feedback d-block" *ngIf="submittedUser && userForm.get('lastName')?.invalid">
                Please write your last name.
              </div>
            </div>
            <div class="mb-3">
              <label class="form-label">Email</label>
              <input type="text" class="form-control" name="email" formControlName="email" required>
              <div class="valid-feedback">
                Looks good!
              </div>
              <div class="invalid-feedback d-block" *ngIf="submittedUser && userForm.get('email')?.invalid">
                Please write your email.
              </div>
            </div>
            <div class="mb-3">
              <label class="form-label">Address</label>
              <input type="text" class="form-control" name="address" formControlName="address" required>
              <div class="valid-feedback">
                Looks good!
              </div>
              <div class="invalid-feedback d-block" *ngIf="submittedUser && userForm.get('address')?.invalid">
                Please write your address.
              </div>
            </div>
            <div class="mb-3">
              <label class="form-label">Phone</label>
              <input type="number" class="form-control" name="phoneNumber" formControlName="phoneNumber" required>
              <div class="valid-feedback">
                Looks good!
              </div>
              <div class="invalid-feedback d-block" *ngIf="submittedUser && userForm.get('phoneNumber')?.invalid">
                Please write your phone.
              </div>
            </div>
            <div class="mb-3">
              <label class="form-label">Password</label>
              <input type="password" class="form-control" name="password" formControlName="password" required>
              <div class="valid-feedback">
                Looks good!
              </div>
              <div class="invalid-feedback d-block" *ngIf="submittedUser && userForm.get('password')?.invalid">
                Please write your password.
              </div>
            </div>
          </form>
        </ng-template>
      </li>

      <!-- Tab 2, [disabled] en ngbNavItem -->
      <li [ngbNavItem]="2" [disabled]="!companyEnabled">
        <button ngbNavLink>2. Datos de la tienda</button>
        <ng-template ngbNavContent>
          <form #companyFormEl class="row g-3 needs-validation" [formGroup]="companyForm" novalidate>
            <div class="mb-3">
              <label class="form-label">Nombre</label>
              <input type="text" class="form-control" name="name" formControlName="name" required>
              <div class="valid-feedback">
                Looks good!
              </div>
              <div class="invalid-feedback d-block" *ngIf="companyForm.get('name')?.touched && companyForm.get('name')?.invalid">
                Please write your first name.
              </div>
            </div>
            <div class="mb-3">
              <label class="form-label">Contacto</label>
              <input type="text" class="form-control" name="contact" formControlName="contact" required>
              <div class="valid-feedback">
                Looks good!
              </div>
              <div class="invalid-feedback d-block" *ngIf="companyForm.get('contact')?.touched && companyForm.get('contact')?.invalid">
                Please write your last name.
              </div>
            </div>
            <div class="mb-3">
              <label class="form-label">NIT</label>
              <input type="text" class="form-control" name="nit" formControlName="nit" required>
              <div class="valid-feedback">
                Looks good!
              </div>
              <div class="invalid-feedback d-block" *ngIf="companyForm.get('company')?.touched && companyForm.get('company')?.invalid">
                Please write your email.
              </div>
            </div>
            <div class="mb-3">
              <label class="form-label">Description</label>
              <input type="text" class="form-control" name="description" formControlName="description" required>
              <div class="valid-feedback">
                Looks good!
              </div>
              <div class="invalid-feedback d-block" *ngIf="companyForm.get('description')?.touched && companyForm.get('description')?.invalid">
                Please write your phone.
              </div>
            </div>
            <div class="mb-3">
              <label class="form-label">Address</label>
              <input type="text" class="form-control" name="address" formControlName="address" required>
              <div class="valid-feedback">
                Looks good!
              </div>
              <div class="invalid-feedback d-block" *ngIf="companyForm.get('address')?.touched && companyForm.get('address')?.invalid">
                Please write your password.
              </div>
            </div>
            <div class="mb-3">
              <label class="form-label">Imagen</label>
              <input type="file" class="form-control" (change)="handleImageUpload($event)">
              <img *ngIf="selectedStore?.logo" [src]="selectedStore.logo" class="img-thumbnail mt-2" width="100">
            </div>
          </form>
        </ng-template>
      </li>
    </ul>

    <div class="mt-3" [ngbNavOutlet]="nav"></div>
  </div>

  <div class="modal-footer">
    <!-- Footer dinámico -->
    <button
      *ngIf="activeTab === 1"
      class="btn btn-primary"
      (click)="goNext()"
    >
      Next
    </button>

    <ng-container *ngIf="activeTab === 2">
      <button
        class="btn btn-secondary me-auto"
        (click)="goPrevious()"
      >
        Previous
      </button>
      <button
        class="btn btn-success"
        (click)="submitAll()"
      >
        Submit
      </button>
    </ng-container>
  </div>
</ng-template>
